<div class="p-5">
  <h2>Angular Learning</h2>
  <hr />
  <div class="row">
    <div class="col"><app-sample></app-sample></div>
    <div class="col"><app-demo></app-demo></div>
  </div>
</div>





























































<!-- <div class="p-5">
  <h2>Angular Learning</h2>
  <hr />
  <h4>{{counter()}}</h4>
  <div class="form-group">
    <button class="btn btn-primary mb-4" (click)="increment()">Increment</button>
    <hr>
    <button class="btn btn-primary mb-4" (click)="decrement()">decrement</button>
  </div>
  <hr />
  <p [ngClass]="cssClass()">Hello world!</p>
</div> -->



  <!-- <button class="btn btn-primary" (click)="handleClick($event)">Click Here</button> -->
   <!-- <input type="text" class="form-control" (input)="handleInput($event)" /> -->


<!-- <div class="p-5">
  <h2>Angular Learning</h2>
  <hr />
  <h4>Please Login</h4>
  <div class="form-group my-4">
    <label>Username</label>
    <input type="text" class="form-control" [(ngModel)]="username" />
  </div>
  <div class="form-group my-4">
    <label>Password</label>
    <input type="password" class="form-control" [(ngModel)]="password" />
  </div>
  <button class="btn btn-primary" (click)="onLogin()">Login</button>
</div> -->


<!-- <div class="p-5">
  <h2>Angular Learning</h2>
  <hr />
  <app-sample [greeting]="message" (onSendMessage)="handleMessage($event)"></app-sample>
</div> -->

<!-- <div class="p-5">
  <h2>Angular Learning</h2>
  <hr />
  <button class="btn btn-primary" (click)="Toggle()">Toggle</button>
  @if (High) {
    <h3 class="sueccess">High</h3>
  }
  @else {
    <h3 class="danger">Low</h3>
  }
</div> -->